#map-links {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'KJV1611Regular';
    font-weight: normal;
    font-style: normal;

}