#map-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: calc(50vw * 642 / 900);
    position: relative;
}

img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #98C1D9;
}

h1 {
    font-family: 'KJV1611Regular';
    font-weight: normal;
    font-style: normal;

}

.quest {
    position: absolute;
}

.header-info{
    display: flex;
    flex-direction: row;
    position: absolute;
   
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info p {
    margin: 0;
    margin-bottom: 5%;
}
#user-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

header {
    margin: -7px;
    margin-left: 80%;
 }