body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #98C1D9;
}

img {
    width: 500px;
    height: 500px;
}

h1 {
    font-family: 'KJV1611Regular';
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'AckermannMedium';
   font-weight: normal;
   font-style: italic;
}